#banner
	.banner_content
		%h1 NoteNote
		%p Your online notebook. Never forget an idea again.
		%p= link_to "Sign Up", new_user_registration_path, class: "button"

#testimonial
	.wrapper
		%p.quote "The greatest notebook application. Period."
		%p.name - Timing.JL
#callouts
	.callout_inner
		.wrapper
			.callout
				%i.fa.fa-pencil{"aria-hidden" => "true"}
				%h2 Notes
				%p Viral Echo Park Intelligentsia tattooed, craft beer organic authentic polaroid tousled mlkshk church-key. Fanny pack Banksy vegan  authentic Helvetica.

			.callout
				%i.fa.fa-rocket{"aria-hidden" => "true"}
				%h2 Rocket
				%p Viral Echo Park Intelligentsia tattooed, craft beer organic authentic polaroid tousled mlkshk church-key. Fanny pack Banksy vegan  authentic Helvetica.

			.callout
				%i.fa.fa-bolt{"aria-hidden" => "true"}
				%h2 Lighting
				%p Viral Echo Park Intelligentsia tattooed, craft beer organic authentic polaroid tousled mlkshk church-key. Fanny pack Banksy vegan  authentic Helvetica.
#bottom_cta
	.wrapper
		%h2 For Realz!
		%p I want you to sign up... If you don’t. I will find you!
		= link_to "Click Meee!!!", new_user_registration_path, class: 'button'

%footer
	%p Timing.JL